HOST=127.0.0.1
PORT=4173
BASE_URL=http://127.0.0.1:4173
LINUX_DO_CLIENT_ID=
LINUX_DO_CLIENT_SECRET=
LINUX_DO_SCOPE=read
LINUX_DO_TOKEN_URL=
LINUX_DO_USER_URL=
ADMIN_LINUX_DO_USERNAMES=your_linux_do_username
ALLOW_CLIENT_REPORTED_AWARDS=false
PVP_EDGE_BASE_URL=
PVP_EDGE_SHARED_SECRET=
PVP_EDGE_TOKEN_TTL_SECONDS=43200
PVP_EDGE_ALLOWED_ORIGINS=
